.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link-list {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

ul,
ol {
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  width: 528px;
  height: 581px;
  left: 536px;
  top: 221px;
  background-color: #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.form-field-last {
  margin-bottom: 20px;
}

.form-label-modal {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-field label {
  margin-bottom: 10px;
}

.icon-modal-name {
  position: absolute;
  left: 13px;
  top: 50%;
}

.form-input-modal:focus-within + .icon-modal-name {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-modal:focus + .form-label-modal::before {
  outline: var(--accent-color);
}

.form-input-modal:focus-within {
  outline: transparent;
  border-color: var(--accent-color);
}

.form-field input {
  padding-left: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.comment:focus {
  outline: var(--accent-color);
  border-color: #2196F3;
}

.modal-text {
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.comment {
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
}

.form-field-last textarea {
  padding: 12px 16px;
}

textarea::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 2px;
}

.input-policy {
  margin-right: 9px;
  display: inline-block;
  width: 16px;
  height: 15px;
  overflow: hidden;
}

.icon-policy::before {
  position: relative;
  display: inline-block;
  content: '';
  margin-right: 7px;
  width: 16px;
  height: 15px;
  vertical-align: middle;
  border: 2px solid black;
  border-radius: 2px;
}

.input-policy:focus > .icon-policy::before {
  outline: var(--accent-color);
}

.label-policy:focus-within > .icon-policy::before {
  outline: transparent;
  border-color: var(--accent-color);
}

.checkbox:checked + .icon-policy::before {
  border-color: transparent;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  background-image: url(../images/icon/check.svg);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
  outline-color: var(--accent-color);
}

.checkbox:focus + .icon-policy::before {
  outline: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.base-btn:hover,
.base-btn:focus {
  background: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.btn {
  position: absolute;
  bottom: 35px;
  left: 163px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  padding: 10px 32px;
  min-width: 200px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  color: #FFFFFF;
  background-color: var(--accent-hover-color);
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.06em;
}

.policy-part {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196F3;
}

.label-policy {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --text-color: #757575;
  --accent-hover-color: #188ce8;
  --white-text-color: #ffffff;
  --button-bg-grey-color: #f5f4fa;
  --secondary-bg-color: #f5f4fa;
  --bg-grey-color: #2f303a;
}

.logo {
  text-decoration: none;
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.logo-part {
  color: #2196f3;
}

.logo-portfolio {
  border: 1px solid #ececec;
}

.logo:hover {
  color: var(--accent-color);
  font-size: 26px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
  line-height: 31px;
}

.headers {
  background-color: #ffffff;
}

.header-container {
  display: flex;
}

.site-nav-contacts {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
}

.site-nav-contacts .navs {
  margin-right: 50px;
}

.site-nav-contacts .navs:last-child {
  margin-right: 0;
}

.site-nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.part:active {
  color: var(--accent-text-color);
}

.link-lists {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding: 32px 0;
  display: block;
}

.first-studio {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding: 32px 0;
  display: block;
}

.first-studio::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 48px;
  height: 4px;
  top: 76px;
  background: #2196f3;
  border-radius: 2px;
}

.site-nav-contacts .link-lists:hover {
  font-size: 14px;
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-contacts .link-lists:focus {
  font-size: 14px;
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav.current {
  color: var(--accent-color);
}

.list-contacts-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 16px;
}

.contacts-header {
  display: flex;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1x;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
  white-space: nowrap;
  transition: color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first {
  margin-right: 30px;
}

.contacts-icon {
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-header .contacts-icon:hover,
.contacts-header .contacts-icon:focus {
  fill: var(--accent-hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-header:hover,
.contacts-header:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.main-title {
  width: 696px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.description-second-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-top: 30px;
}

.foto-box-first {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  padding-bottom: 94px;
  padding-top: 94px;
}

.description-list {
  display: flex;
}

.description-list-item {
  margin-right: 30px;
}

.description-list-item:last-child {
  margin-right: 0;
}

.img-section {
  padding: 20px 24px;
  align-items: center;
  border: 1px solid #eeeeee;
}

.text-img {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.description-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 10px;
}

.about {
  padding-bottom: 94px;
}

.about-title,
.title-secondary {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.text {
  background-color: #f5f4fa;
  color: #212121;
}

.about-title {
  margin-bottom: 50px;
  align-items: center;
}

.about-list-photo {
  display: flex;
}

.each-foto {
  margin-right: 30px;
}

.each-foto:last-child {
  margin-right: 0;
}

.thumb {
  position: relative;
}

.label-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  white-space: nowrap;
  color: #ffffff;
}

.thumb > .label {
  display: flex;
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-bg-color);
}

.title-secondary {
  align-items: center;
  margin-bottom: 50px;
}

/* .text */
.team-workers-list {
  width: 270px;
  background-color: #ffffff;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-list-icon {
  display: flex;
  justify-content: center;
}

.social-icons-list:hover,
.social-icons-list:focus {
  background-color: var(--accent-hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-list:hover .icon-team,
.social-icons-list:focus .icon-team {
  fill: var(--white-text-color);
}

.icon-team {
  fill: #afb1b8;
}

.social-list-icons {
  margin-right: 10px;
}

.social-list-icons:last-child {
  margin-right: 0;
}

.social-list-icons::marker {
  content: none;
}

.social-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-workers-list:last-child {
  margin-right: 0;
}

.team-workers {
  background-color: #f5f4fa;
  display: flex;
  flex-wrap: nowrap;
}

.list-name-worker {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.list-job {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

/* OUR CLIENTS */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-companies::marker {
  content: none;
}

.list-companies:last-child {
  margin-right: 0;
}

.list-companies {
  margin-right: 30px;
}

.icon-company {
  fill: #AFB1B8;
}

.links-companies:hover .icon-company,
.links-companies:focus .icon-company {
  border-color: var(--accent-hover-color);
  fill: var(--accent-hover-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-companies:hover,
.links-companies:focus {
  border-color: var(--accent-hover-color);
  fill: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.companies {
  display: flex;
}

.links-companies {
  display: flex;
  justify-content: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  border-color: #afb1b8;
  width: 170px;
  height: 92px;
  transition: border-color 2150ms cubic-bezier(0.4, 0, 0.2, 1), fill 2150ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */