.footer {
    background-color: #2f303a;
    color: #ffffff;
    padding-bottom: 60px;
    padding-top: 60px;
    display: block;
}

.footer-divs {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.footer>.footer-divs {
    display: flex;
    align-items: baseline;
}