.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.link-list {
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

ul,
ol {
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}